<!DOCTYPE HTML>
        {% load static %}
<html>
	<head>
		<title>Log In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href='{% static "/assets/css/main.css" %}' />
	</head>
	<body class="is-preload">


{% block body %}
<p align="right"><a href="{% url 'register' %}"><button class="button save">Register</button></a></p>
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    {% endblock %}
</div>

    <!-- Scripts -->
			<script src='{% static "/assets/js/jquery.min.js" %}'></script>
			<script src='{% static "/assets/js/browser.min.js" %}'></script>
			<script src='{% static "/assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "/assets/js/util.js" %}'></script>
			<script src='{% static "/assets/js/main.js" %}'></script>
    </body>
	<script>
function show() {
    var URL = "{% url 'register' %}";
    var code = e.getSession().getValue();
    var data = {'code': code};
    $.get(URL, data, function (response) {
//        if (response === 'success') {
//            alert('Yay!');
//        }
//        else {
//            alert('Error! ');
//        }
    });
}
</script>
</html>