<!DOCTYPE HTML>
        {% load static %}
<html>
	<head>
		<title>Logged Out</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href='{% static "/assets/css/main.css" %}' />
	</head>
	<body class="is-preload">

{% block body %}
<div class="container">
    <h2>Logout</h2>
    <p>You Logged Out!</p>
    <div class="container">
    <p><h2>You have successfull logout!</h2></p>
    <a href="{% url 'login' %}">LogIn</a>
</div>
    {% endblock %}
</div>

           <!-- Scripts -->
			<script src='{% static "/assets/js/jquery.min.js" %}'></script>
			<script src='{% static "/assets/js/browser.min.js" %}'></script>
			<script src='{% static "/assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "/assets/js/util.js" %}'></script>
			<script src='{% static "/assets/js/main.js" %}'></script>
    </body>
</html>